{% extends "layout.html" %}

{% block title %}
    Add Books
{% endblock %}

{% block main %}
<div class="container">
    {% for msg in get_flashed_messages() %}
        {% if msg == 'Add Book Success!' %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
</div>

<form action="/add" method="post" class="form-panel form-panel-wide">
    <h3 class="mb-3"><u>Mandatory Fields</u></h3>
    <div class="input-group mb-3">
        <span class="input-group-text">Name of Book</span>
        <input type="text" class="form-control" name="book" placeholder="Name of Book"/>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Category</span>
        <select name="category" class="form-select" required>
            <option value="" selected>Select a category</option>
            <option value="completed">Completed</option>
            <option value="unfinished">Unfinished</option>
            <option value="tbr">To Be Read</option>
        </select>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Status</span>
        <input name="status" class="form-control" list="datalistOptions" placeholder="Type or pick a status...">
        <datalist id="datalistOptions">
            <option value="Finished">
            <option value="Left Extras">
            <option value="Finishing Soon">
            <option value="Uncompleted">
        </datalist>
    </div>

    <h3 class="mb-3 mt-4"><u>Optional Fields</u></h3>
    <div class="input-group mb-3">
        <span class="input-group-text">Genre</span>
        <input type="text" class="form-control" name="genres" placeholder='Comma-separated genres'/>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Notes</span>
        <textarea class="form-control" name="notes" rows="3" placeholder="Reasons for reading, anticipation level, plot points, deterrences, etc..."></textarea>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Series Name</span>
        <input type="text" class="form-control" name="series" placeholder='Fill in if the book is part of a series'/>
    </div>

    <div class="form-actions justify-content-between">
        <a class="btn btn-outline-secondary" href="/import">Import from file…</a>
        <button class="btn grey" type="submit">Add Book</button>
    </div>
</form>

{% endblock %}
