{% extends "layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}
    {% block set %}{% endblock %}
    {% if random is defined and random|length > 0 %}
    <div class="modal" tabindex="-1" id="random">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Random book chosen is:</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h1 class="georgia"> ❗️{{random.book}}❗️</h1>
              {% if random.status != "None" and random.status != ""%}<h5 class="">Book status is <em>{{random.status}}</em></h5>{% endif %}
              {% if random.genres != "None" and random.genres != "" %}<h5>Genres of book: <em>{{random.genres}}</em></h5>{% endif %}
              {% if random.notes != "None" and random.notes != "" %}<h5>Book notes: <em>{{random.notes}}</em></h5>{% endif %}
              {% if random.series != "" %}<h5>Part of <em>{{random.series}}</em> series</h5>{% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="container mt-5">
        <form action={{page}} method="post" name="options">
            <div class="row justify-content-start">
                <div class="col-4">
                    <select class="form-select form-select-lg mb-3 grey " aria-label="Large select example" name="filter" onchange="this.form.submit()">
                        <option selected>Filter by existence of...</option>
                        <option value="series">Series</option>
                        <option value="notes">Notes</option>
                        <option value="genres">Genres</option>
                    </select>  
                </div>
                {% if page == "/tbr" %}
                <div class="col-4">
                    <select class="form-select form-select-lg mb-3 grey" aria-label="Large select example" name="status_filter" onchange="this.form.submit()">
                        <option value="">Filter by status...</option>
                        {% if selected_status == "Finished" %}
                        <option value="Finished" selected>Finished</option>
                        {% else %}
                        <option value="Finished">Finished</option>
                        {% endif %}
                        {% if selected_status == "Left Extras" %}
                        <option value="Left Extras" selected>Left Extras</option>
                        {% else %}
                        <option value="Left Extras">Left Extras</option>
                        {% endif %}
                        {% if selected_status == "Uncompleted" %}
                        <option value="Uncompleted" selected>Uncompleted</option>
                        {% else %}
                        <option value="Uncompleted">Uncompleted</option>
                        {% endif %}
                    </select>
                </div>
                {% endif %}
                <div class="col-4">
                    <button type="submit" name="clear" class="btn hidden-info">Clear filter</button>
                </div>
              </div>
                   
        </form>
            
        <div class="container text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{ticked}}</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date Added</th>
                        <th scope="col"></th>
                        <th scope="col">{{crossed}}</th>
                    </tr>
                </thead>
                <tbody>
                    {%for book in books%}
                        {% set id = '#' ~ loop.index %}
                        <tr class="align-middle pb-0">
                            <td>
                                {% block checked scoped %}{% endblock %}
                                
                            </td>
                            <td>
                                <div class="container text-center">
                                    <div class="row justify-content-center ">
                                        <div class="col-4 mt-2">
                                            {{book.book}}
                                        </div>
                                        <div class="col-4">
                                            <form action="/delete" method="post">
                                                <button class="border-0 white" type="submit" name="book" value={{book.id}}>
                                                    <img src="../static/delete.png" alt="delete" height="30" width="30">
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                
                            </td>
                            <td>{{book.status}}</td>
                            <td>{{book.date}}</td>
                            <td>
                                <div class="row align-middle">
                                    <div class="col ">
                                        <button class="btn mt-4half mt-5 d-inline-flex " data-bs-toggle="collapse" data-bs-target= {{id}} aria-expanded="false" aria-controls="collapseWidthExample">
                                            <img src="../static/more.png" alt="More Info" height="30" width="30" >
                                        </button>
                                    </div>
                                    <div class="col d-inline-flex ">
                                        <div style="min-height: 100px;">
                                            <div class="collapse collapse-horizontal" id={{loop.index}}>
                                                <div class="card card-body text-start" style="width: 300px;">
                                                    <h6> Date added: <em>{{book.date}}</em></h6>
                                                    <h6>Genres: <em>{{book.genres}}</em></h6>
                                                    <h6> Notes: <em>{{book.notes}}</em></h6>
                                                    <h6> Series: <em>{{book.series}}</em></h6>
                                                    {% if book.reread is defined %}<h6> Reread <em>{{book.reread}} time(s)</em></h6>{% endif %}
                                                    {% if book.days is defined %}<h6> Days taken to finish: <em>{{book.days}}</em></h6>{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {% block crossed scoped%}{% endblock %}     
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
<form action="/choose" method="/post" >
    <input id="choose" type="submit" class="red border-0 right me-5 mb-5 btn" value="Choose a Book"/>
</form>

  

{% endblock %}
